header{
	padding:50px;
	height:585px;
	background:url(http://www.perfectbeachweddings.com/sites/default/files/pbw-banner-bahamas.jpg) no-repeat;
	background-size: cover;
}

header h2, h3{
	color:#fff;
	text-shadow:2px 2px #333;
}

footer{
	padding:20px 0;
}

#conteudo{
	padding:20px 0 0 0;
}

#string{
	color:red;
}